<div class="transition-slideup diary-compose">
	<div class="toolbar">
		<a class="back pressable glyphicon glyphicon-chevron-left" ng-click="cancel()"></a>
		<div class="title">add to diary</div>
		<div class="pressable save" ng-click="save(hdif)">Save</div>
	</div>
	<div class="main">
		<form role="form">
			<textarea ng-class="{thoughts:true,expanded:false}" placeholder="... write things to remember here" rows="10" ng-model="hdif.thoughts"></textarea>
			<div ng-class="{hdif:true,collapsed:false}">
				<div class="collapsebar" ng-click="toggleHdif()"></div>
				<div class="q feel">
					<div class="qlabel">I feel:</div><div class="btn-group likert">
						<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':hdif.feel=='1'}" ng-click="sethdif('feel','1')">1 -poorly</div>
						<div ng-class="{btn:true, 'btn-default':true, likert2:true, 'active':hdif.feel=='2'}" ng-click="sethdif('feel','2')">2</div>
						<div ng-class="{btn:true, 'btn-default':true, likert3:true, 'active':hdif.feel=='3'}" ng-click="sethdif('feel','3')">3</div>
						<div ng-class="{btn:true, 'btn-default':true, likert4:true, 'active':hdif.feel=='4'}" ng-click="sethdif('feel','4')">4</div>
						<div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':hdif.feel=='5'}" ng-click="sethdif('feel','5')">5 -well&nbsp;&nbsp;</div>
					</div>
				</div>
				<div class="q">
					<div class="btn-group binary">
						<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':hdif.breathless=='yes'}" ng-click="sethdif('breathless','yes')">Breathless</div>
						<div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':hdif.breathless=='no'}" ng-click="sethdif('breathless','no')">Fine</div>
					</div>
				</div>
				<div class="q">
					<div class="btn-group binary">
						<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':hdif.palpitations=='yes'}" ng-click="sethdif('palpitations','yes')">Palpitations</div>
						<div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':hdif.palpitations=='no'}" ng-click="sethdif('palpitations','no')">Fine</div>
					</div>
				</div>
				<div ng-if="!medLoggedToday()" class="q">
					<div class="btn-group binary">
						<div ng-class="{btn:true, 'btn-default':true, likert1:true, 'active':hdif.medications=='no'}" ng-click="sethdif('medications','no')">Skipped Meds</div>
						<div ng-class="{btn:true, 'btn-default':true, likert5:true, 'active':hdif.medications=='yes'}" ng-click="sethdif('medications','yes')">Taken Meds</div>
					</div>
				</div>
				<div class="q activity" ng-if="true || hdif.palpitations=='yes' || hdif.breathless == 'yes'">
					<div class="qlabel">I am doing:</div>
					<!-- <div class="qlabel"><div class="label" >Activity</div> I am:</div> -->
					<select ng-if="hdif.activity!=='(something else)'" ng-model="hdif.activity" ng-options="x for x in activities"></select>
					<input class="newactivity" ng-if="hdif.activity=='(something else)'" type="text" ng-model="hdif.new_activity"></input>
					<!-- <input type="text" ng-model="hdif.activity"></input> -->
					<!-- <div class="autocomplete-frame">
						<autocomplete ng-model="hdif.activity" placeholder="select activity" data="activities"></autocomplete>
					</div>					
					-->
				</div>							
			</div>
		</form>
	</div>
</div>
