<div class="start">
<div class="copy">
  <div id="form-container">
  
      <div class=" text-center">
          <h1>health assessment</h1>
      </div>
      <!-- use ng-submit to catch the form submission and use our Angular function -->
          <!-- our nested state views will be injected here -->
          <div id="form-views">

<div id="status-buttons" class="text-center"> <a id="span1" ui-sref-active="active"><span>1</span></a></div>
<form name="userform" ng-submit="addHealthGen1(userform.$valid)" novalidate >
<div class="size">
  <label>How is your health in general?</label>
   	<select name="genHealth" class="field" ng-model="healthassessSection1a" ng-options="x.healthassessSection1a as x.Value1 for x in HealthGen1"
            required> 
      <option value="">--please choose--</option> 
    </select> 
    <small class="error" 
             ng-show="userform.genHealth.$invalid && userform.genHealth.$dirty">
              Please make a selection
   </small>
</div>
<hr />

<div class="size">
  <label>How is your health in general?</label>
   	<select name="genLife" class="field" ng-model="healthassessSection1b" ng-options="x.healthassessSection1b as x.Value1 for x in HealthGen1b"
            required> 
      <option value="">--please choose--</option> 
    </select> 
    <small class="error" 
             ng-show="userform.genLife.$invalid && userform.genLife.$dirty">
              Please make a selection
   </small>
</div>
<hr />

<div class="form-group row">
      <div class="col-xs-6 col-xs-offset-3 next">
      <button class="btn btn-block btn-info" >
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span> </button>
      </div>
</div>

</form>
</div></div></div></div>