   <div id="status-buttons" class="text-center">
       <a id="span4" ui-sref-active="active"><span>4</span></a></div>
<form ng-model="addHealthAlcohol()">
<div class="form-group">
<div class="size">
<label>How often have you had an alcoholic drink of any kind during the last 12 months?</label>
<select name="genLife" class="field">
    	<option>Almost every day</option>
		<option>5/6 a week</option>
		<option>3/4 a week</option>
		<option>1/2 a week</option>
		<option>1/2 a month</option>
        <option>1 every couple of months</option>
        <option>1/2 a year</option>
        <option>Not at all</option>
</select>
</div>

<div class='form-group'>
<fieldset data-role="controlgroup" >
	<label>Have you had an alcoholic drink in the last seven days ending yesterday?</label>
    <input type="radio" name="radio" ng-model="formData.smoking" ng-value="yes" id="yes"><label for="yes">Yes</label> <br />
    <input type="radio" name="radio" ng-model="formData.smoking" ng-value="no" id="no">
    <label for="no">No</label>
</fieldset>
</div>

<div class="form-group row">
      <div class="col-xs-6 col-xs-offset-3 next">
      <button type="submit" class="btn btn-block btn-info" >
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span> </button>
</div>
</div></div>
</form>