   <div id="status-buttons" class="text-center">
       <a id="span4" ui-sref-active="active"><span>4</span></a></div>
<div class='form-group'><label for="name">Have you ever smoked a cigarette, a cigar, or a pipe?</label>
    <input type="text" class="form-control" name="name" ng-model="formData.name">
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" name="email" ng-model="formData.email">
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="healthassess.fitness" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>