<div id="status-buttons" class="text-center"> <a id="span1" ui-sref-active="active"><span>1</span></a></div>
<form name="healthassessSection1_form" ng-submit="addHealth1()">
<div class="size">
  <label>How is your health in general?</label>
  <br />
  <select name="genHealth" class="field" readonly="readonly" ng-model="healthassessSection1a">
    <option selected="selected">Please select</option>
    <option>Very Good</option>
    <option>Good</option>
    <option>Fair</option>
    <option>Bad</option>
    <option>Very Bad</option>
  </select>
</div>
<div class="size">
  <label>Overall, how satisfied are you with life nowadays?</label>
  <select name="genLife" class="field" ng-model="healthassessSection1b">
    <option selected="selected">Please select</option>
    <option value="0">0 (Not at all satisfied)</option>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option value="10">10 (Completely satisfied)</option>
  </select>
</div>
<br />
<br />
<div class="form-group row">
      <div class="col-xs-6 col-xs-offset-3 next">
      <button type="submit" class="btn btn-block btn-info" >
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span> </button>
      </div>
</div>
</form>

<!--/*<script>
(function($){
	$.fn.styleddropdown = function(){
		return this.each(function(){
			var obj = $(this)
			obj.find('.field').click(function() { //onclick event, 'list' fadein
			obj.find('.list').fadeIn(400);
			
			$(document).keyup(function(event) { //keypress event, fadeout on 'escape'
				if(event.keyCode == 27) {
				obj.find('.list').fadeOut(400);
				}
			});
			
			obj.find('.list').hover(function(){ },
				function(){
					$(this).fadeOut(400);
				});
			});
			
			obj.find('.list li').click(function() { //onclick event, change field value with selected 'list' item and fadeout 'list'
			obj.find('.field')
				.val($(this).html())
				.css({
					'background':'#fff',
					'color':'#333'
				});
			obj.find('.list').fadeOut(400);
			});
		});
	};
})(jQuery);
$(function(){
	$('.size').styleddropdown();
});

</script>*/-->