<div id="status-buttons" class="text-center"> <a id="span1" ui-sref-active="active"><span>1</span></a> </div>
<form name="healthassessSection1b_form" ng-submit="addHealthGen2()">
  <div class="size">
    <label>Overall, how happy did you feel yesterday?</label>
    <select name="genLife" class="field" ng-model="healthassessSection1c">
      <option ng-value="0">0 (Not at all happy)</option>
      <option ng-value="1">1</option>
      <option ng-value="2">2</option>
      <option ng-value="3">3</option>
      <option ng-value="4">4</option>
      <option ng-value="5">5</option>
      <option ng-value="6">6</option>
      <option ng-value="7">7</option>
      <option ng-value="8">8</option>
      <option ng-value="9">9</option>
      <option ng-value="10">10 (Completely happy)</option>
    </select>
  </div>
  <div class="size">
    <label>Overall, how anxious did you feel yesterday?</label>
    <select class="field" ng-model="healthassessSection1d">
      <option ng-value="0">0 (Not at all anxious)</option>
      <option ng-value="1">1</option>
      <option ng-value="2">2</option>
      <option ng-value="3">3</option>
      <option ng-value="4">4</option>
      <option ng-value="5">5</option>
      <option ng-value="6">6</option>
      <option ng-value="7">7</option>
      <option ng-value="8">8</option>
      <option ng-value="9">9</option>
      <option ng-value="10">10 (Completely anxious)</option>
    </select>
  </div>
  <div class="size">
    <label>Overall, to what extent do you feel the things you do in you life are worthwhile?</label>
    <select class="field" ng-model="healthassessSection1e">
      <option ng-value="0">0 (Not at all worthwhile)</option>
      <option ng-value="1">1</option>
      <option ng-value="2">2</option>
      <option ng-value="3">3</option>
      <option ng-value="4">4</option>
      <option ng-value="5">5</option>
      <option ng-value="6">6</option>
      <option ng-value="7">7</option>
      <option ng-value="8">8</option>
      <option ng-value="9">9</option>
      <option ng-value="10">10 (Completely worthwhile)</option>
    </select>
  </div>
  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3 next">
      <button type="submit" class="btn btn-block btn-info" > Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span> </button>
    </div>
  </div>
</form>
