   <div id="status-buttons" class="text-center">
       <a id="span2" ui-sref-active="active"><span>2</span></a></div>
       
<div class='form-group'>
<fieldset data-role="controlgroup" ng-model="smoking" id="smoking" >
	<label for="radio">Have you ever smoked a cigarette, a cigar, or a pipe?</label>
    <input type="radio" name="radio" ng-model="formData.smoking" ng-value="yes" id="yes"><label for="yes">Yes</label> <br />
    <input type="radio" name="radio" ng-model="formData.smoking" ng-value="no" id="no">
    <label for="no">No</label>
</fieldset>
</div>

<div class='form-group'>
<fieldset data-role="controlgroup" >
	<label>Do you smoke at all nowadays?</label>
    <input type="radio" name="radio2" ng-model="formData.smoking" ng-value="yes" id="yes2" ng-click="toggle()"><label for="yes2">Yes</label> <br />
    <input type="radio" name="radio2" ng-model="formData.smoking" ng-value="no" id="no2">
    <label for="no2">No</label>
</fieldset>
</div>

<div class='form-group size'>
<label>How many do you have in an average week?</label> <br />
<input type="text" name="averagesmoke" ng-model="formData.smoking"><br />
</div>

<div class="form-group row">
<div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="healthassess.fitness" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>