<div class="library">
	<!-- replace with a nicer toolbar --> 
	<div class="toolbar">
		<a class="back pressable glyphicon glyphicon-chevron-left" ui-sref="library"></a>
		<div class="title">medicine library</div>
        <!--
		<div class="pressable glyphicon glyphicon-search" ng-click="toggleSearch()"></div>
        -->
	</div>
    <div class="library-main">
        <div class="viewmode btn-group">
            <div ng-class="{btn:true, 'btn-default':true, 'active':viewmode=='az'}" ng-click="setView('az')">A-Z</div>
            <div ng-class="{btn:true, 'btn-default':true, 'active':viewmode=='category'}" ng-click="setView('category')">Category</div>
            <div ng-class="{btn:true, 'btn-default':true, 'active':viewmode=='search'}" ng-click="setView('search')">Search</div>
        </div>
        <div class="library-content" ng-show="viewmode=='az'">
            <med m="thing" ng-repeat="thing in medsaz" profile='profile'/>
        </div>
        <div class="library-content" ng-show="viewmode=='category'">
            <med m="thing" ng-repeat="thing in medscats" profile='profile'/>
        </div>
        <div class="library-content" ng-show="viewmode=='search'">
            <div class="library-search">
                <div class="input-group">
                    <input type="text" class="form-control" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
