<div class="start">
<div class="copy">
  <div id="form-container">
  
      <div class="page-header text-center">
          <h1>welcome</h1>
      </div>
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form"  ng-submit="processForm()">
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view>

            <div class="size">
              <label>hey, what should I call you?</label>
              <input type="text" placeholder="name" class="form-control ng-pristine" ng-model="formData.name" required/>
            </div>
            <div class="size">
              <label>how do I contact you?</label>
              <input type="email" placeholder="email" class="form-control ng-pristine " ng-model="formData.email" required/>
            </div>
            <div class="size">
              <label>you are old enough, right?</label>
              <input type="number" placeholder="age" class="form-control ng-pristine" ng-model="formData.age" min="18" required/>
            </div>
            <div class="form-group row next">
            <!-- ui-sref="healthassess.general" -->
              <div class="col-xs-6 col-xs-offset-3 next"> <a class="btn btn-block btn-info"> Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span> </a> </div>
            </div>
            </div>
            </form></div></div></div>