<div class="profileform">
  <h1>{{title}}</h1>

  <form class="form-group">
	<label for="name">hey</label><input type="text" class="form-control" name="name" ng-model="formData.name" placeholder="gamer">

	<label for="email">email</label><input type="email" class="form-control" name="email" ng-model="formData.email"  placeholder="gamer@email.com">

	<label for="age">age</label><input type="number" class="form-control" name="age" min="18" placeholder="18">
  	
    <button type="submit" class="btn btn-primary" ui-sref="categories">next</button>

  </form>
</div>