<div class="start">
  <div class="copy">
    <div id="form-container" >
    <span>
    	<timer interval="1000" countdown="100" />{{countdown}}</timer>
    </span>
      <div class="page-header text-center question_buffer">
        <h1>{{question}}</h1><br />
      </div>
      <div class="question"> 
        <!-- omg question {{ questionid }} -->
        <div ng-repeat="x in answerSplit">
          <div class="btn btn-block btn-info next" ng-click="setResponse($index)">{{ x }}</div>
          <br />
        </div>
      </div>
	<img src="img/categoryImg/{{category}}.jpg" height="110px" width="110px" style="display:block; margin-left: auto; margin-right: auto;" />
    </div>
  </div>
  </div>  