<div class="riskcalcs">
	<div class="toolbar">
		<a class="back pressable glyphicon glyphicon-chevron-left" ui-sref="home"></a>
		<div class="title">risk calculators</div>
	</div>
	<div class="main">

        <div class='ariskcalc chadsvasc'>

            <h2>CHA<sub>2</sub>DS<sub>2</sub>-VASc Score for Atrial Fibrillation Stroke Risk</h2>

            <div class="chads">

                <div class="chadsbefore" ng-hide="showchadsform">
                    
                    <div class="chadsunset" ng-show="profile.attributes['riskcalcs-chadsvasc']['score']<0">
                        <div class="qlabel"><button type="button" ng-click="showChadsForm()" ng-touch="showChadsForm()" class="btn btn-default btn-lg">Calculate</button></div>
                    </div>
                    <div class="chadsset" ng-show="profile.attributes['riskcalcs-chadsvasc']['score']>-1">
                        <div class="qlabel"><span class="resulttxt">Your score is: <span class="chadsscore" ng-bind="profile.attributes['riskcalcs-chadsvasc']['score']"></span></span></div>
                        <div class="clearfix"></div>
                        <div class="findoutmore" ng-click="toggleChadsTxt()" ng-touch="toggleChadsTxt()">Find out more about this test.</div>
                        <div class="exptxt" ng-show="chadsTxtShow" ng-click="toggleChadsTxt()" ng-touch="toggleChadsTxt()">
                            <p>This score has been developed in the light of
studies that have investigated factors associated with risk of stroke in
patients with AF. AF patients suffer strokes because they develop blood
clots in the heart (left atrium) which break off and go through the circulation
to the brain. Advancing age, having impaired heart function,
high blood pressure, blood vessel (vascular) disease or diabetes and being
Female (birth gender) are risk factors for this. Studies have shown that
this score system enables stroke prevention (anticoagulation) treatments to be targeted to
individuals so that the small risk of the treatment itself is greatly
outweighed by the (measured) greater risk of a blood clot.</p>
                            <p>If you are uncertain ask your doctor which of these may be relevant to you.</p>

                        </div>
                        <div class="clearfix"></div>
                        <div class="qlabel"><button type="button" ng-click="showChadsForm()" ng-touch="showChadsForm()" class="btn btn-default btn-lg">Re-calculate</button></div>

                    </div>
                </div>
                <div class="chadsform" ng-show="showchadsform">

                    <div class='qs'>
                        <div class="q">
                            <div class="qlabel">Age</div>
                            <div class="qresult">
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['age']||profile.attributes['riskcalcs-chadsvasc']['age']=='under65'">0</div>
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['age']=='midage'">+1</div>
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['age']=='highage'">+2</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['age']=='under65'}" ng-click="setchads('age','under65')">Under 65</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['age']=='midage'}" ng-click="setchads('age','midage')">65-74</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['age']=='highage'}" ng-click="setchads('age','highage')">75+</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Sex</div>
                            <div class="qresult">
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['sex']||profile.attributes['riskcalcs-chadsvasc']['sex']=='m'">0</div>
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['sex']=='f'">+1</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['sex']=='m'}" ng-click="setchads('sex','m')">Male</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['sex']=='f'}" ng-click="setchads('sex','f')">Female</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Congestive Heart Failure History</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['chfh']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['chfh']||profile.attributes['riskcalcs-chadsvasc']['chfh']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['chfh']=='false'}" ng-click="setchads('chfh','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['chfh']=='true'}" ng-click="setchads('chfh','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Hypertension History</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['hh']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['hh']||profile.attributes['riskcalcs-chadsvasc']['hh']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['hh']=='false'}" ng-click="setchads('hh','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['hh']=='true'}" ng-click="setchads('hh','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Stroke / TIA / Thromboembolism History</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['stth']=='true'">+2</div>
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['stth']||profile.attributes['riskcalcs-chadsvasc']['stth']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['stth']=='false'}" ng-click="setchads('stth','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['stth']=='true'}" ng-click="setchads('stth','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Vascular Disease History</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['vdh']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['vdh']||profile.attributes['riskcalcs-chadsvasc']['vdh']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['vdh']=='false'}" ng-click="setchads('vdh','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['vdh']=='true'}" ng-click="setchads('vdh','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Diabetes Mellitus</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-chadsvasc']['dm']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-chadsvasc']['dm']||profile.attributes['riskcalcs-chadsvasc']['dm']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['dm']=='false'}" ng-click="setchads('dm','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-chadsvasc']['dm']=='true'}" ng-click="setchads('dm','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <button type="button" ng-click="saveChads()" ng-touch="saveChads()" class="btn btn-default btn-lg">Finish</button><div class="errtxt" ng-bind="chadsErr"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class='ariskcalc hasbled'>

            <h2>HAS-BLED Score for Major Bleeding Risk</h2>

            <div class="hasbleds">

                <div class="hasbledbefore" ng-hide="showhasbledform">
                    
                    <div class="hasbledunset" ng-show="profile.attributes['riskcalcs-hasbled']['score']<0">
                        <div class="qlabel"><button type="button" ng-click="showHasbledForm()" ng-touch="showHasbledForm()" class="btn btn-default btn-lg">Calculate</button></div>
                    </div>
                    <div class="hasbledset" ng-show="profile.attributes['riskcalcs-hasbled']['score']>-1">
                        <div class="qlabel"><span class="resulttxt">Your score is: <span class="hasbledscore" ng-bind="profile.attributes['riskcalcs-hasbled']['score']"></span></span></div>
                        <div class="clearfix"></div>
                        <div class="findoutmore" ng-click="toggleHasbledTxt()" ng-touch="toggleHasbledTxt()">Find out more about this test.</div>
                        <div class="exptxt" ng-show="hasbledTxtShow" ng-click="toggleHasbledTxt()" ng-touch="toggleHasbledTxt()">
                            <p>There are recommendations to use the HAS-BLED Score with the CHA2DS2-VASc Score to help determine if anticoagulation is in the best interest of a particular patient. "Major bleeding" was defined in the HAS-BLED study as "intracranial, [requiring] hospitalization, hemoglobin decrease &gt; 2 g/L, and/or transfusion."</p>
                            <p>If you are uncertain ask your doctor which of these may be relevant to you.</p>

                        </div>

                        <div class="clearfix"></div>
                        <div class="qlabel"><button type="button" ng-click="showHasbledForm()" ng-touch="showHasbledForm()" class="btn btn-default btn-lg">Re-calculate</button></div>

                    </div>
                </div>
                <div class="hasbledform" ng-show="showhasbledform">

                    <div class='qs'>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Hypertension History</div><div class="qsub">(Uncontrolled, &gt;160 mmHg systolic)</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q1-ht']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q1-ht']||profile.attributes['riskcalcs-hasbled']['q1-ht']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q1-ht']=='false'}" ng-click="sethasbled('q1-ht','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q1-ht']=='true'}" ng-click="sethasbled('q1-ht','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Renal Disease</div><div class="qsub">Dialysis, transplant, Cr &gt;2.6 mg/dL or &gt;200 µmol/L</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q2-rd']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q2-rd']||profile.attributes['riskcalcs-hasbled']['q2-rd']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q2-rd']=='false'}" ng-click="sethasbled('q2-rd','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q2-rd']=='true'}" ng-click="sethasbled('q2-rd','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Liver Disease</div><div class="qsub">Cirrhosis, Bilirubin &gt;2x Normal, AST/ALT/AP &gt;3x Normal</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q3-ld']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q3-ld']||profile.attributes['riskcalcs-hasbled']['q3-ld']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q3-ld']=='false'}" ng-click="sethasbled('q3-ld','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q3-ld']=='true'}" ng-click="sethasbled('q3-ld','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Stroke History</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q4-sh']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q4-sh']||profile.attributes['riskcalcs-hasbled']['q4-sh']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q4-sh']=='false'}" ng-click="sethasbled('q4-sh','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q4-sh']=='true'}" ng-click="sethasbled('q4-sh','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Prior Major Bleeding or Predisposition to Bleeding</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q5-bl']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q5-bl']||profile.attributes['riskcalcs-hasbled']['q5-bl']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q5-bl']=='false'}" ng-click="sethasbled('q5-bl','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q5-bl']=='true'}" ng-click="sethasbled('q5-bl','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Labile INR</div><div class="qsub">(Unstable/high INRs), Time in Therapeutic Range &lt; 60%</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q6-inr']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q6-inr']||profile.attributes['riskcalcs-hasbled']['q6-inr']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q6-inr']=='false'}" ng-click="sethasbled('q6-inr','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q6-inr']=='true'}" ng-click="sethasbled('q6-inr','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel">Age over 65</div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q7-age']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q7-age']||profile.attributes['riskcalcs-hasbled']['q7-age']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q7-age']=='false'}" ng-click="sethasbled('q7-age','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q7-age']=='true'}" ng-click="sethasbled('q7-age','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Medication Usage Predisposing to Bleeding</div><div class="qsub">(Antiplatelet agents, NSAIDs)</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q8-med']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q8-med']||profile.attributes['riskcalcs-hasbled']['q8-med']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q8-med']=='false'}" ng-click="sethasbled('q8-med','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q8-med']=='true'}" ng-click="sethasbled('q8-med','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <div class="qlabel"><div class="qsup">Alcohol Usage History</div><div class="qsub">&ge; 8 drinks/week</div></div>
                            <div class="qresult">
                                <div ng-show="profile.attributes['riskcalcs-hasbled']['q9-alc']=='true'">+1</div>
                                <div ng-show="!profile.attributes['riskcalcs-hasbled']['q9-alc']||profile.attributes['riskcalcs-hasbled']['q9-alc']=='false'">0</div>
                            </div>
                            <div class="btn-group binary">
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q9-alc']=='false'}" ng-click="sethasbled('q9-alc','false')">No</div>
                                <div ng-class="{btn:true, 'btn-default':true, 'active':profile.attributes['riskcalcs-hasbled']['q9-alc']=='true'}" ng-click="sethasbled('q9-alc','true')">Yes</div>
                            </div>
                        </div>

                        <div class="q">
                            <button type="button" ng-click="saveHasbled()" ng-touch="saveHasbled()" class="btn btn-default btn-lg">Finish</button><div class="errtxt" ng-bind="hasbledErr"></div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>



	</div>
</div>
