<div class="settings transition-panright">
	<div class="toolbar">
		<a class="back pressable glyphicon glyphicon-chevron-left" ui-sref="home"></a>
		<div class="title">settings</div>
	</div>
	<div class="main">
		<h2> Settings for Demo Only  </h2>

		<div>
			<div class="btn btn-info" ng-click="preloadDiary()">Preload Demo Diary Entries</div>
			<div class="btn btn-info" ng-click="preloadINRs()">Preload Demo INRs</div>
		</div>
		<div>
			<div class="btn btn-danger" ng-click="deleteProfile()">Delete profile</div>
			<div class="btn btn-danger" ng-click="deleteDiary()">Delete Diary</div>
			<div class="btn btn-danger" ng-click="deleteINRs()">Delete INRs</div>
		</div>
	</div>
</div>