<div class="slide">
	<div class="dots"></div>
	<div class="screen">
		<div class="copy">
			<h1>Your heart is your most important muscle.</h1>
			<div class='inner'>
				But taking care of it doesn't have to be 
				difficult.

				<div class="buttons">
					<a class="btn btn-info" ng-click="next()"> let's get started! &gt; </a>
				</div>

			</div>
		</div>
		<img class="cover" src="img/mask.png">
		<img class="bgimg" src="img/lady.jpg">
	</div>
	<div class="screen">
		<div class="copy">
			<h1>Getting to know you</h1>
			<div class='inner'>
				Every person 

				<div class="buttons">
					<a class="btn btn-info" ng-click="next()"> let's get started! &gt; </a>
				</div>

			</div>
		</div>
		<img class="cover" src="img/mask.png">
		<img class="bgimg" src="img/lady.jpg">
	</div>
	<div class="screen">
		<div class="copy">
			<h1>Your heart is your most important muscle.</h1>
			<div class='inner'>
				But taking care of it doesn't have to be 
				difficult.

				<div class="buttons">
					<a class="btn btn-info" ng-click="next()"> let's get started! &gt; </a>
				</div>

			</div>
		</div>
		<img class="cover" src="img/mask.png">
		<img class="bgimg" src="img/lady.jpg">
	</div>
</div>
