<div class="start-panel">
	<div class="copy">
		<div>
			Now some basic demographic questions:
		</div>
		<div>
			<label class="question">What is your gender?</label>
			<div><input type="radio" value="female" ng-model="input.gender"> <label>female</label></div>
			<div><input type="radio" value="male"  ng-model="input.gender"> <label>male</label></div>
			<div><input type="radio" value="other" ng-model="input.gender"> <label>other/not specified</div>			
		</div>
		<div>
			<label class="question">What is your date of birth?</label>
			<input type="date" ng-model="input.dob">
		</div>
	</div>
	<div class="buttons">
		<a class="btn btn-info" ng-click="saveAndAdvance({dob:input.dob, gender:input.gender})"> Onward! &gt; </a>
	</div>
	<img class="cover" src="img/mask.png">
	<img class="bgimg" style="width:340px;" src="img/Jens.jpg">
</div>